@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script type="text/javascript" src="~/js/Index.js"></script>
}

<div class="text-center">
    <h1>Our team</h1>
    <ul id="teamMembers">
        <li>Sechei Radu</li>
        <li>Tanase Teona</li>
        <li>Duma Dragos</li>
        <li>Campean Leon </li>
        <li>Naghi Claudia</li>
        <li>Marian George</li>
    </ul>

    <input type="text" id="nameField" title="Your name" />
    <button id="addMembersButton" title="Create">Create</button>


</div>
