@model TeamInfo

@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script type="text/javascript" src="~/js/Index.js"></script>
}

<div class="text-center">
    <h1>Our team</h1>
    <ul id="teamMembers">
        @for (var i = 0; i < Model.TeamMembers.Count; i++)
        {
            var member = Model.TeamMembers[i];

            <li class="member">
                @member
            </li>
        }
    </ul>

    <input type="text" id="nameField" title="Your name" />
    <button id="addMembersButton" title="Create">Create</button>


</div>
